<?xml version="1.0"?>
<config>
	<modules>
		<ContusRestapi_ShippingPaymentapi>
			<version>0.1.0.0</version>
		</ContusRestapi_ShippingPaymentapi>
	</modules>
	<global>
		<models>
			<shippingPaymentapi>
				<class>ContusRestapi_ShippingPaymentapi_Model</class>
			</shippingPaymentapi>
		</models>
	</global>
</config>