<?xml version="1.0"?>
<config>
    <modules>
        <Contus_Pushnoteorders>
            <version>0.1.0</version>
        </Contus_Pushnoteorders>
    </modules>
    <frontend>
        <routers>
            <pushnoteorders>
                <use>standard</use>
                <args>
                    <module>Contus_Pushnoteorders</module>
                    <frontName>pushnoteorders</frontName>
                </args>
            </pushnoteorders>
        </routers>
        <layout>
            <updates>
                <pushnoteorders>
                    <file>pushnoteorders.xml</file>
                </pushnoteorders>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<pushnoteorders>
				<use>admin</use>
				<args>
					<module>Contus_Pushnoteorders</module>
					<frontName>pushnoteorders</frontName>
				</args>
			</pushnoteorders>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Contus_Pushnoteorders>
							<title>Pushnoteorders Module</title>
							<sort_order>10</sort_order>
						</Contus_Pushnoteorders>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pushnoteorders>
					<file>pushnoteorders.xml</file>
				</pushnoteorders>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <pushnoteorders>
                <class>Contus_Pushnoteorders_Model</class>
                <resourceModel>pushnoteorders_mysql4</resourceModel>
            </pushnoteorders>
            
        </models>
      
        <blocks>
            <pushnoteorders>
                <class>Contus_Pushnoteorders_Block</class>
            </pushnoteorders>
        </blocks>
        <helpers>
            <pushnoteorders>
                <class>Contus_Pushnoteorders_Helper</class>
            </pushnoteorders>
        </helpers>
    </global>
</config>